<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>蔵書検索データベース</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary mt-3 mb-3">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="menu">TOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='add'>新規追加</a>
                    </li>
                </ul>
            </div>
        </nav>   

        <div class="container" style="width: 70%;">
            <h2 style="text-align: left;">書籍削除</h2>     
            <div style="display: flex; background-color: whitesmoke; margin-top: 25px;">
                <div style="margin: 20px;width: 15%;">
                    <img src={{book.thumbnail}} alt="no image" width="128px">
                </div>
                <div style="margin: 20px;width: 35%;">
                    <h5 class="text-left" style="margin-bottom: 20px;">{{book.title}}</h5>
                    <p class="text-left">著者: {{book.author}}</p>
                    <p class="text-left">ISBN: {{book.isbn}}</p>
                    <p class="text-left">出版社: {{book.publisher}}</p>
                    <p class="text-left">収納場所: {{book.storage}}</p>
                </div>
                <div>
                    <p class="text-left" style="margin: 20px;">
                        {{book.description}}
                    </p>
                </div>
            </div>
            <form action="delete-complete" method="POST">
                <button type="submit" value={{book.isbn}} name="delete_book" class="btn btn-secondary mt-3">
                    削除確定
                </button>
            </form>
        </div>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>